<div class="container story">
  {{#link-to 'story' story.id}}
  <img src="{{story.mainImage}}" class="responsive"/>
  <h4>{{story.titleShort}}</h4>
  <hr>
  <p>{{story.author}}</p>
  {{/link-to}}
</div>
