<div class="row container">
  <div class="col-sm-6">
    <h1>{{model.titleLong}}</h1>
    <h5>{{model.author}}</h5>
  </div>
  <div class="col-sm-6">
    <img src="{{model.mainImage}}"/>
  </div>
</div>

<div class="text">
  <p>{{model.text}}</p>
</div>
